## Project: Data Wrangling using Pandas and Regex

In this project you are asked __to implement__ and __perform a unit testing__ for a series of Python functions (Q1-Q13) that are typically required during the ***data wrangling*** phase of the end-to-end data science pipeline. A subset of unit testing functions is provided for you. You are expected to write unit testing for all the remaining functions.

__Data Wrangling consists of the following main steps:__

* Data Acquisition
* Data Cleansing
* Data Understanding: Basics
* Data Manipulation
  
  
__1. Data Acquisition Objectives__

* Question 1: How to import multiples files for storage and access? (store filenames in array)
* Question 2: How to import data in different formats? (read_excel, read_csv)
* Question 2: How are they read into by pandas? (DataFrame)
* Question 4: How to have a peek at the data after import? (head/tail)

__2. Data Cleansing Objectives__

* Question 5: Check attributes of each file
* Question 5: Identify data types
* Question 5: Apply coercion if applicable
* Question 5: Check for NA/missing data
* Question 6: Remove/replace corrupt data
* Question 6: Identify duplicate data
* Question 6: Check for corrupt/incorrect data  

* Check for data consistency (e.g. GPA cannot be less than 0)
* Identifying and removing outliers

__3. Data Understanding Objectives__

* Question 7: Basic Summary Statistics
* Question 9: Dimensionality

__4. Data Manipulation Objectives__

* Question 11: Merge/Concatenate DataFrame
* Question 11: Mapping to create a new attribute
* Question 11: Incorporate the use of multiple functions
* Question 12: Filter to subset the data
* Question 13: Discretize data 
  
  
__Regular Expressions:__ *Regular expressions are used in conjunction with other preprocessing steps for matching/parsing patterns.*

* Questions 2/5/6: Filter to subset the dataUse regular expressions to find/match specific content
* Question 6: Filter to subset the dataString manipulation via. substring and replace methods

## Install Required Packages

If you do not have Anaconda installed, then you may need to install the following packages using the following commands (Note: If you have Anaconda installed, then you already have Pandas and `regex`):

> pip3 install pandas  
  
> pip3 install regex

## INSTRUCTIONS: In all the functions, remove the `pass` statement and write your code.

In [4]:
import pandas as pd
import re
import glob
import copy
import os
import numpy as np

path=os.getcwd()

%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
os.chdir("/Users/pasumarty/Downloads/Courses_Spring_2019/CSC 591/Project Data Wrangling Resources description, data, code template-20190111/data_raw")

### __Question 1: Write a function to import all excel file names into a list.__

_Hint: Use the glob module._

In [6]:
def Q1_function():
    """
    :type : None
    :rtype: List[String]
    """
    # TYPE YOUR CODE HERE
    
    f_names = []
    for filename in glob.glob("*.xlsx"):
        f_names.append(filename)
    return f_names   


# Call the function and print the result. This result is used in subsequent questions.
filenames = Q1_function()
print(filenames)

['Python-QUIZ Taxonomy of Python Data Structures (12 min.)-grades.xlsx', 'Python-QUIZ Functions (18 min.)-grades.xlsx', 'Python-QUIZ Coercion (6 min.)-grades.xlsx', 'Python-QUIZ Strings (5 min.)-grades.xlsx', 'Python-QUIZ Lists (10 min.)-grades.xlsx', 'Python-QUIZ Iterations (6 min.)-grades.xlsx', 'Python-QUIZ Sets (7 min)-grades.xlsx', 'Python-QUIZ Exceptions (10 min.)-grades.xlsx', 'Python-QUIZ Dictionaries (10 min.)-grades.xlsx', 'Python-QUIZ Tuples (10 min.)-grades.xlsx', 'Python-QUIZ Conditionals (6 min.)-grades.xlsx']

### __Question 2: Write a function to return the name of the excel file based on a given string. *(The string is defined for you)*__  
*Hints: Use the following.*
* Regex 're.search' function.
* Pandas function 'read_excel'

In [7]:
def Q2_function(files, s):
    """
    :type : List[String], String
    :rtype: String
    """
    # TYPE YOUR CODE HERE
    
    for file in files:
        if(re.search(r"%s"%s,file)):
            return file
        

# Call the function and print the result. Use this to check the correctness of your code and for debugging.
file = Q2_function(filenames, s = "Dictionaries")
print(file)

Python-QUIZ Dictionaries (10 min.)-grades.xlsx

### __Question 3: Write a function to load the "Functions" excel file into a Pandas DataFrame.__  
*Hint: Remember you have executed functions in Questions 1 and 2. Try using them here. You can save some coding time!*  
* Use the result from Question 1.
* Use the function written in Question 2.
* Use the Pandas function 'read_excel' to import an excel file.

In [45]:
def Q3_function(files, s):
    """
    :type : List[String], String
    :rtype: Pandas DataFrame
    """
    # TYPE YOUR CODE HERE
    
    file = Q2_function(files, s)
    load_excel = pd.read_excel(file)
    return load_excel


# Call the function and print the result. This result is used in subsequent questions.
functions_df = Q3_function(filenames, s = "Functions")
print(functions_df)
# functions_df.head(3)

       State                  Started on                   Completed  \
0   Finished    February 5 2018  3:19 PM    February 5 2018  3:34 PM
1   Finished    February 4 2018  4:01 PM    February 4 2018  4:19 PM
12  Finished    February 6 2018  3:57 PM    February 6 2018  4:12 PM
2   Finished   February 10 2018  4:05 PM   February 10 2018  4:23 PM
3   Finished    February 4 2018  4:59 PM    February 4 2018  5:16 PM
4   Finished    February 5 2018  5:20 PM    February 5 2018  5:38 PM
5   Finished   February 10 2018  9:49 PM  February 10 2018  10:07 PM
6   Finished    February 5 2018  8:30 PM    February 5 2018  8:48 PM
7   Finished   February 13 2018  4:17 AM   February 13 2018  4:35 AM
8   Finished   February 12 2018  2:19 PM   February 12 2018  2:35 PM
9   Finished  February 13 2018  10:45 AM  February 13 2018  11:03 AM
10  Finished   February 11 2018  1:48 AM   February 11 2018  2:06 AM
4   Finished    February 5 2018  5:20 PM    February 5 2018  5:38 PM
5   Finished   February 10 2018  9:49 PM  February 10 2018  10:07 PM
11  Finished   February 13 2018  7:07 PM   February 13 2018  7:20 PM
12  Finished    February 6 2018  3:57 PM    February 6 2018  4:12 PM
13  Finished    February 5 2018  6:52 PM    February 5 2018  7:10 PM
14  Finished  February 13 2018  11:33 AM  February 13 2018  11:51 AM
15  Finished   February 11 2018  3:39 PM   February 11 2018  3:57 PM
6   Finished    February 5 2018  8:30 PM    February 5 2018  8:48 PM
16  Finished   February 6 2018  10:41 AM   February 6 2018  11:30 AM
17  Finished   February 11 2018  4:20 PM   February 11 2018  4:38 PM
18  Finished   February 12 2018  7:52 PM   February 12 2018  8:07 PM
8   Finished   February 12 2018  2:19 PM   February 12 2018  2:35 PM

         Time taken  Grade/45.00  Q. 1 /5.00  Q. 2 /10.00  Q. 3 /6.00  \
0   14 mins 16 secs           32           5            6           6
1   17 mins 54 secs           31           5            8           6
12  15 mins 44 secs           20           3            4           3
2           18 mins           30           5            6           6
3   17 mins 31 secs           26           5            6           6
4   17 mins 59 secs           25           5            6           6
5           18 mins           24           5            6           6
6           18 mins           23           5            6           0
7     18 mins 1 sec           23           4            4           6
8   16 mins 44 secs           22           4            4           6
9     18 mins 1 sec           22           5            8           6
10          18 mins           21           5           10           6
4   17 mins 59 secs           25           5            6           6
5           18 mins           24           5            6           6
11  12 mins 59 secs           21           4            4           3
12  15 mins 44 secs           20           3            4           3
13    18 mins 1 sec           17           4            4           6
14          18 mins           17           5            4           3
15    18 mins 1 sec           16           3            6           3
6           18 mins           23           5            6           0
16  48 mins 39 secs           15           4            2           3
17    18 mins 1 sec           13           3            4           6
18  14 mins 31 secs           13           3            4           6
8   16 mins 44 secs           22           4            4           6

   Q. 4 /6.00 Q. 5 /12.00 Q. 6 /6.00  id
0        3.00       12.00       0.00   0
1           -       12.00       0.00   1
12          -       10.00       0.00  12
2        3.00       10.00          -   2
3        3.00        6.00       0.00   3
4        6.00        2.00       0.00   4
5        3.00        4.00          -   5
6        0.00        6.00       6.00   6
7        3.00        6.00       0.00   7
8        0.00        8.00       0.00   8
9        3.00           -          -   9
10          -           -          -  10
4        6.00        2.00       0.00   4
5        3.00        4.00          -   5
11       0.00        4.00       6.00  11
12          -       10.00       0.00  12
13       3.00        0.00          -  13
14       3.00        2.00       0.00  14
15       0.00        4.00          -  15
6        0.00        6.00       6.00   6
16       0.00        6.00       0.00  16
17          -           -          -  17
18       0.00        0.00       0.00  18
8        0.00        8.00       0.00   8

### __Question 4: Using the output obtained in Question 3 as input for the current question, write a function to do the following.__  
* Find all the names of the columns and return as a list.
* Find the subset of the DataFrame (use `df.loc`) and return the new DataFrame. Include the following columns:   
_"id", "Time taken", "Grade/45.00", "Q. 1 /5.00", "Q. 2 /10.00", "Q. 3 /6.00", "Q. 4 /6.00", "Q. 5 /12.00", "Q. 6 /6.00"_
* Return the top 10 rows (use `df.head function`).

Learn about returning multiple values in Python.

In [9]:
def Q4_function(dataframe):
    """
    :type : DataFrame
    :rtype: [String], DataFrame, DataFrame
    """
    # TYPE YOUR CODE HERE
    
    names = list(dataframe)
    df_subset = dataframe.filter(["id", "Time taken", "Grade/45.00", "Q. 1 /5.00", "Q. 2 /10.00", "Q. 3 /6.00", "Q. 4 /6.00", "Q. 5 /12.00", "Q. 6 /6.00"], axis=1)
    top_10 = dataframe.head(10)
    return_list = [names, df_subset, top_10]
    return return_list


# Call the function and print the results. These results are used in subsequent questions.
names, df_subset, top_10 = Q4_function(functions_df)

print("Column Names")
print(names)
print()
print("Subsetted Data")
print(df_subset)
print()
print("Top 10 Rows")
print(top_10)

Column Names
['State', 'Started on', 'Completed', 'Time taken', 'Grade/45.00', 'Q. 1 /5.00', 'Q. 2 /10.00', 'Q. 3 /6.00', 'Q. 4 /6.00', 'Q. 5 /12.00', 'Q. 6 /6.00', 'id']

Subsetted Data
    id       Time taken  Grade/45.00  Q. 1 /5.00  Q. 2 /10.00  Q. 3 /6.00  \
0    0  14 mins 16 secs           32           5            6           6
1    1  17 mins 54 secs           31           5            8           6
12  12  15 mins 44 secs           20           3            4           3
2    2          18 mins           30           5            6           6
3    3  17 mins 31 secs           26           5            6           6
4    4  17 mins 59 secs           25           5            6           6
5    5          18 mins           24           5            6           6
6    6          18 mins           23           5            6           0
7    7    18 mins 1 sec           23           4            4           6
8    8  16 mins 44 secs           22           4            4           6
9    9    18 mins 1 sec           22           5            8           6
10  10          18 mins           21           5           10           6
4    4  17 mins 59 secs           25           5            6           6
5    5          18 mins           24           5            6           6
11  11  12 mins 59 secs           21           4            4           3
12  12  15 mins 44 secs           20           3            4           3
13  13    18 mins 1 sec           17           4            4           6
14  14          18 mins           17           5            4           3
15  15    18 mins 1 sec           16           3            6           3
6    6          18 mins           23           5            6           0
16  16  48 mins 39 secs           15           4            2           3
17  17    18 mins 1 sec           13           3            4           6
18  18  14 mins 31 secs           13           3            4           6
8    8  16 mins 44 secs           22           4            4           6

   Q. 4 /6.00 Q. 5 /12.00 Q. 6 /6.00
0        3.00       12.00       0.00
1           -       12.00       0.00
12          -       10.00       0.00
2        3.00       10.00          -
3        3.00        6.00       0.00
4        6.00        2.00       0.00
5        3.00        4.00          -
6        0.00        6.00       6.00
7        3.00        6.00       0.00
8        0.00        8.00       0.00
9        3.00           -          -
10          -           -          -
4        6.00        2.00       0.00
5        3.00        4.00          -
11       0.00        4.00       6.00
12          -       10.00       0.00
13       3.00        0.00          -
14       3.00        2.00       0.00
15       0.00        4.00          -
6        0.00        6.00       6.00
16       0.00        6.00       0.00
17          -           -          -
18       0.00        0.00       0.00
8        0.00        8.00       0.00

Top 10 Rows
       State                 Started on                   Completed  \
0   Finished   February 5 2018  3:19 PM    February 5 2018  3:34 PM
1   Finished   February 4 2018  4:01 PM    February 4 2018  4:19 PM
12  Finished   February 6 2018  3:57 PM    February 6 2018  4:12 PM
2   Finished  February 10 2018  4:05 PM   February 10 2018  4:23 PM
3   Finished   February 4 2018  4:59 PM    February 4 2018  5:16 PM
4   Finished   February 5 2018  5:20 PM    February 5 2018  5:38 PM
5   Finished  February 10 2018  9:49 PM  February 10 2018  10:07 PM
6   Finished   February 5 2018  8:30 PM    February 5 2018  8:48 PM
7   Finished  February 13 2018  4:17 AM   February 13 2018  4:35 AM
8   Finished  February 12 2018  2:19 PM   February 12 2018  2:35 PM

         Time taken  Grade/45.00  Q. 1 /5.00  Q. 2 /10.00  Q. 3 /6.00  \
0   14 mins 16 secs           32           5            6           6
1   17 mins 54 secs           31           5            8           6
12  15 mins 44 secs           20           3            4           3
2           18 mins           30           5            6           6
3   17 mins 31 secs           26           5            6           6
4   17 mins 59 secs           25           5            6           6
5           18 mins           24           5            6           6
6           18 mins           23           5            6           0
7     18 mins 1 sec           23           4            4           6
8   16 mins 44 secs           22           4            4           6

   Q. 4 /6.00 Q. 5 /12.00 Q. 6 /6.00  id
0        3.00       12.00       0.00   0
1           -       12.00       0.00   1
12          -       10.00       0.00  12
2        3.00       10.00          -   2
3        3.00        6.00       0.00   3
4        6.00        2.00       0.00   4
5        3.00        4.00          -   5
6        0.00        6.00       6.00   6
7        3.00        6.00       0.00   7
8        0.00        8.00       0.00   8

### Question 5: Using the subsetted DataFrame from the previous question, complete the following tasks.

* Identify the data type of every column. Return as a list. *(read about dtypes)*
* Strip all white spaces from the columns. 
    + try using list comprehension along with the 'sub' function in 're' module
* Check if 'Time taken' column has NA or empty values:
    + use `df.isnull().any()`. 
    + If YES, replace with 0: use `df.fillna()`.
* Using `regex` (`re.search`), convert the 'Time taken' column into seconds (int) and store in a new column called 'time' (e.g., convert __2 mins 10 secs__ into __130__. Note that to get 130, you need to do some math. Use coersion to convert str to int.
* Return the DataFrame with 'Time taken' column dropped.

In [10]:
def Convert_time(df,temp):
    list_new_col = []
    for i in df[temp]:
        list_split = []
        for s in i.split():
            if s.isdigit():
                list_split.append(int(s))
        if(len(list_split) == 2):
            list_new_col.append(list_split[0]*60 + list_split[1])
        else:
            list_new_col.append(list_split[0]*60)
    return list_new_col

In [14]:
def Remove_whitespaces(df):
    df = df.rename(columns={col: col.replace(" ","") for col in df.columns})
    return df

In [34]:
def Q5_function(df):
    
    """
    :type : DataFrame
    :rtype: [String], DataFrame
    """
    # TYPE YOUR CODE HERE
    
    names = list(df)
    column_types=[]
    for i in names:
        column_types.append(str(df[i].dtype))    

    df = Remove_whitespaces(df)
    if(df['Timetaken'].isnull().any()):
        df['Timetaken'].fillna(0, inplace=True) 
    
    list_new_col = Convert_time(df,temp = "Timetaken")
    df['time'] = list_new_col

    df.drop('Timetaken', axis=1, inplace=True)
    return_list = [column_types,df]
    return return_list


# Call the function and print the results. These results are used in subsequent questions.
column_types, Q5_df = Q5_function(df_subset)
print("Column Datatypes")
print(column_types)
print()
print("New Update DataFrame")
print(Q5_df)

Column Datatypes
['int64', 'object', 'int64', 'int64', 'int64', 'int64', 'object', 'object', 'object']

New Update DataFrame
    id  Grade/45.00  Q.1/5.00  Q.2/10.00  Q.3/6.00 Q.4/6.00 Q.5/12.00  \
0    0           32         5          6         6     3.00     12.00
1    1           31         5          8         6        -     12.00
12  12           20         3          4         3        -     10.00
2    2           30         5          6         6     3.00     10.00
3    3           26         5          6         6     3.00      6.00
4    4           25         5          6         6     6.00      2.00
5    5           24         5          6         6     3.00      4.00
6    6           23         5          6         0     0.00      6.00
7    7           23         4          4         6     3.00      6.00
8    8           22         4          4         6     0.00      8.00
9    9           22         5          8         6     3.00         -
10  10           21         5         10         6        -         -
4    4           25         5          6         6     6.00      2.00
5    5           24         5          6         6     3.00      4.00
11  11           21         4          4         3     0.00      4.00
12  12           20         3          4         3        -     10.00
13  13           17         4          4         6     3.00      0.00
14  14           17         5          4         3     3.00      2.00
15  15           16         3          6         3     0.00      4.00
6    6           23         5          6         0     0.00      6.00
16  16           15         4          2         3     0.00      6.00
17  17           13         3          4         6        -         -
18  18           13         3          4         6     0.00      0.00
8    8           22         4          4         6     0.00      8.00

   Q.6/6.00  time
0      0.00   856
1      0.00  1074
12     0.00   944
2         -  1080
3      0.00  1051
4      0.00  1079
5         -  1080
6      6.00  1080
7      0.00  1081
8      0.00  1004
9         -  1081
10        -  1080
4      0.00  1079
5         -  1080
11     6.00   779
12     0.00   944
13        -  1081
14     0.00  1080
15        -  1081
6      6.00  1080
16     0.00  2919
17        -  1081
18     0.00   871
8      0.00  1004

### Question 6: Using the returned DataFrame from the previous question, complete the following tasks.

* Some columns might need to be converted to integer for the subsequent tasks. Identify which columns and convert them to int/float.
* Are there any duplicate rows? Remove them from the DataFrame.
* Data collected might be corrupt. Check whether data is missing or corrupt. Data is missing if there is a '-'. If missing data exists, replace with the mean of other values.
* With the above point in mind, find the mean values of all columns except 'id'. Append these as a row to your dataframe and return

*Hint: Note that the maximum marks for each column is different. Make sure you parse the information from the column name.*

In [16]:
def Q6_function(df):
    
    """
    :type : DataFrame
    :rtype: DataFrame
    """
    # TYPE YOUR CODE HERE
    
    df.drop_duplicates(inplace = True)
    white_space = []
    df = df.replace(['-'], np.nan)
    for i in df.columns:
        df[i] = pd.to_numeric(df[i],errors='coerce')
        df = df.fillna(df.mean())
    temp = []    
    for i in df.columns:    
        if(i == 'id'):
            continue
        else:    
            temp.append(df[i].mean())      
    df = df.append({'Grade/45.00':temp[0],'Q.1/5.00':temp[1],'Q.2/10.00':temp[2],'Q.3/6.00':temp[3],'Q.4/6.00':temp[4],'Q.5/12.00':temp[5],'Q.6/6.00':temp[6],'time':temp[7]},ignore_index=True)       
    cols = df.columns
    df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')    
    return df


# Call the function and print the results.
Q6_df = Q6_function(Q5_df)
print(Q6_df)

      id  Grade/45.00  Q.1/5.00  Q.2/10.00  Q.3/6.00  Q.4/6.00  Q.5/12.00  \
0    0.0    32.000000  5.000000   6.000000  6.000000       3.0      12.00
1    1.0    31.000000  5.000000   8.000000  6.000000       2.0      12.00
2   12.0    20.000000  3.000000   4.000000  3.000000       2.0      10.00
3    2.0    30.000000  5.000000   6.000000  6.000000       3.0      10.00
4    3.0    26.000000  5.000000   6.000000  6.000000       3.0       6.00
5    4.0    25.000000  5.000000   6.000000  6.000000       6.0       2.00
6    5.0    24.000000  5.000000   6.000000  6.000000       3.0       4.00
7    6.0    23.000000  5.000000   6.000000  0.000000       0.0       6.00
8    7.0    23.000000  4.000000   4.000000  6.000000       3.0       6.00
9    8.0    22.000000  4.000000   4.000000  6.000000       0.0       8.00
10   9.0    22.000000  5.000000   8.000000  6.000000       3.0       5.75
11  10.0    21.000000  5.000000  10.000000  6.000000       2.0       5.75
12  11.0    21.000000  4.000000   4.000000  3.000000       0.0       4.00
13  13.0    17.000000  4.000000   4.000000  6.000000       3.0       0.00
14  14.0    17.000000  5.000000   4.000000  3.000000       3.0       2.00
15  15.0    16.000000  3.000000   6.000000  3.000000       0.0       4.00
16  16.0    15.000000  4.000000   2.000000  3.000000       0.0       6.00
17  17.0    13.000000  3.000000   4.000000  6.000000       2.0       5.75
18  18.0    13.000000  3.000000   4.000000  6.000000       0.0       0.00
19   NaN    21.631579  4.315789   5.368421  4.894737       2.0       5.75

    Q.6/6.00         time
0        0.0   856.000000
1        0.0  1074.000000
2        0.0   944.000000
3        1.0  1080.000000
4        0.0  1051.000000
5        0.0  1079.000000
6        1.0  1080.000000
7        6.0  1080.000000
8        0.0  1081.000000
9        0.0  1004.000000
10       1.0  1081.000000
11       1.0  1080.000000
12       6.0   779.000000
13       1.0  1081.000000
14       0.0  1080.000000
15       1.0  1081.000000
16       0.0  2919.000000
17       1.0  1081.000000
18       0.0   871.000000
19       1.0  1125.368421

### Question 7: Use previously created functions to load the 'Exceptions' dataset as a dataframe

* Calculate the mean of the total grade obtained by the students.
* Calculate the standard deviation of the total grade obtained by the students.
* Calculate Q1,Q2 and Q3 (quantiles) for the total grade.
* Find the maximum and minimum values for the total grade

* Return all values rounded to 2 decimal places

*Hint: Use the df.describe function*

In [17]:
def Q7_function(file):
    """
    :type : String
    :rtype: Float
    """
    # TYPE YOUR CODE HERE
    
    filenames = Q1_function()
    data_file = Q3_function(filenames, file)
    
    mean_df = round(data_file['Grade/21.00'].mean(),2)    
    sd_df = round(data_file['Grade/21.00'].std(),2)  
    Q1 = round(data_file['Grade/21.00'].quantile(0.25),2)
    Q2 = round(data_file['Grade/21.00'].quantile(0.50),2)
    Q3 = round(data_file['Grade/21.00'].quantile(0.75),2)
    max_val = round(data_file['Grade/21.00'].max(),2)
    min_val = round(data_file['Grade/21.00'].min(),2)
    return_list = [mean_df,sd_df,Q1,Q2,Q3,max_val,min_val]
    return tuple(return_list)

# Call the function and print the results.
mean_,std_,q1,q2,q3,max_,min_ = Q7_function(file="Exceptions")
print("Mean:", mean_)
print("Std. Dev.:", std_)
print("First Quantile", q1)
print("Second Quantile", q2)
print("Third Quantile", q3)
print("Max:", max_)
print("Min:", min_)

Mean: 14.83
Std. Dev.: 2.19
First Quantile 13.46
Second Quantile 14.66
Third Quantile 16.62
Max: 18.5
Min: 10.83

### Question 8: Create a boxplot of the grade distribution in the 'Exceptions' dataset.

* Compare the plot lines to the values calculated in the previous question.
* Use df.plot.box function.

In [ ]:
def Q8_function(file):
    
    """
    :type : String
    :rtype: Plot
    """
    
    df = Q3_function(filenames, file)
    Q8_plot = df[['Grade/21.00']].plot.box(return_type='axes')
    
    return Q8_plot


# Call the function. Plot will display.
Q8_function(file='Exceptions')

### Question 9: Return the number of rows and columns present in the 'Strings' dataset

* Use the `df.shape` attribute.

In [23]:
def Q9_function(file):
    
    """
    :type : String
    :rtype: list
    """ 
    # TYPE YOUR CODE HERE
    
    file_new = Q3_function(filenames, file)
    temp = file_new.shape
    return list(temp)


# Call the function and print the results
rows, columns = Q9_function (file='Strings')
print("Rows:",rows)
print("Columns:",columns)

Rows: 17
Columns: 7

### Question 10: Use the output from Question 5. Group the students based on their score in 'Q. 5 /12.00' column

* Which students scored 0 
* How many students achieved the maximum possible score
* Consider NA/missing values as 0

*Hint : Use groupby function.*

In [26]:
def Q10_function(df):
    
    """
    :type : DataFrame
    :rtype: list, int
    """ 
    # TYPE YOUR CODE HERE
    
    df = df.replace(['-'], np.nan)
    df.fillna(0,inplace = True)
    cols = df.columns
    df[cols] = df[cols].apply(pd.to_numeric, errors='coerce') 
    a = df.groupby(["Q.5/12.00"]).groups[0]
    b = df.groupby(["Q.5/12.00"]).count()
    return [list(a),b.iloc[-1,1]]


# Call the function and print the results
zero, maximum = Q10_function(Q5_df)
print("Students scoring zero :",zero)
print("Number of students with maximum score :",maximum)

Students scoring zero : [9, 10, 13, 17, 18]
Number of students with maximum score : 2

### Question 11: Find out who ('id') has scored the maximum combined score in the 'Tuples' and 'Taxonomy' quiz.

* Use the `pd.merge()` function.
* Call the function you wrote for Question 5 to convert time and remove spaces in columns (will be used in later questions).
* Create a new column 'Total_score' which is the sum of the scores of the two quizzes.

In [27]:
def Q11_function():
    
    """
    :type : None
    :rtype: Dataframe, int
    """ 
    # TYPE YOUR CODE HERE
    
    tuples_df = Q3_function(filenames, "Tuples")
    tax_df = Q3_function(filenames, "Taxonomy")
    comb_df = pd.merge(tuples_df,tax_df,on="id")
    comb_df = Remove_whitespaces(comb_df)
    
    list_x = Convert_time(comb_df,temp="Timetaken_x")
    comb_df["time_x"] = list_x
    comb_df.drop('Timetaken_x', axis=1, inplace=True)
    
    list_y = Convert_time(comb_df,temp="Timetaken_y")
    comb_df["time_y"] = list_y
    comb_df.drop('Timetaken_y', axis=1, inplace=True)
    
    col_list = ["Grade/20.00","Grade/21.00"]
    comb_df['Total_score'] = comb_df[col_list].sum(axis=1)
    
    max_score = comb_df['Total_score'].idxmax()
    max_score_id = comb_df['id'][max_score]
    return comb_df,max_score_id


# Call the function and print the results. The DataFrame will be used in subsequent questions
Q11_df,max_scorer = Q11_function()
print("Max scorer :",max_scorer)

Max scorer : 10

### Question 12: Use the DataFrame generated in Question 11 and return the list of ids whose total time for both quizzes is less than than 20 minutes.

* Sort the list before returning.
* Can you code it in one line?

In [30]:
def Q12_function(df):
    
    """
    :type : DataFrame
    :rtype: list(int)
    """ 
    # TYPE YOUR CODE HERE
    
    id_temp = []
    id_list = []
    temp = []
    col_list = ["time_x","time_y"]
    df['sum'] = df[col_list].sum(axis=1)
    a = df.index[df['sum'] < 1200].tolist()
    df.drop('sum', axis=1, inplace=True)
    for i in a:
        id_list.append(df['id'][i])
    id_temp = sorted(id_list)
    return id_temp


# Call the function and print the results.
ids = Q12_function(Q11_df)
print("ID of students :",ids)

ID of students : [3, 4, 7, 8, 12, 18]

### Question 13: Discretize the column 'Grade/45.00' for the DataFrame generated in Question 6 and create a new column. Find the number of people (id) per bin. Return a DataFrame with only the bins and count per bin.

*Hints:* 
* _Use 'cut' and 'groupby'._
* _Include the overall average in the groupings._
* _You won't need to use 'drop' to drop columns. Use groupby and check the result._
* _Use 5 bins_
* Don't consider 'Overall Average' row.

In [31]:
def Q13_function(df):
    
    """
    :type : DataFrame
    :rtype: DataFrame
    """    
    # TYPE YOUR CODE HERE
    
    temp = []
    df=df.drop(Q6_df.index[-1])
    store_bin=np.linspace(min(df['Grade/45.00']-1),max(df['Grade/45.00']),num=6)
    cut_bin=pd.cut(df['Grade/45.00'],bins=store_bin)
    df_groups=df.groupby(cut_bin)
    
    for id_temp,new_bin in df_groups:
        temp.append(new_bin.id.tolist())
        new_bin=pd.DataFrame({'ids':temp})
    temp_return = []
    temp_return = new_bin['ids'].tolist()
    # If we have to use a dataframe instead
    #     df_new = pd.DataFrame(np.array(temp_return).reshape(1,5))
    
    return temp_return


# Call the function and print the results.
Q13_df = Q13_function(Q6_df)
print(Q13_df)

[[15.0, 16.0, 17.0, 18.0], [12.0, 13.0, 14.0], [5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], [3.0, 4.0], [0.0, 1.0, 2.0]]

### INSTRUCTIONS: Complete unit testing for the remaining functions to check correctness of your code.

In [50]:
import unittest

class TestNotebook(unittest.TestCase):
    
    def test_Q01_function(self):

        ans = ['Python-QUIZ Taxonomy of Python Data Structures (12 min.)-grades.xlsx', 'Python-QUIZ Functions (18 min.)-grades.xlsx', 'Python-QUIZ Coercion (6 min.)-grades.xlsx', 'Python-QUIZ Strings (5 min.)-grades.xlsx', 'Python-QUIZ Lists (10 min.)-grades.xlsx', 'Python-QUIZ Iterations (6 min.)-grades.xlsx', 'Python-QUIZ Sets (7 min)-grades.xlsx', 'Python-QUIZ Exceptions (10 min.)-grades.xlsx', 'Python-QUIZ Dictionaries (10 min.)-grades.xlsx', 'Python-QUIZ Tuples (10 min.)-grades.xlsx', 'Python-QUIZ Conditionals (6 min.)-grades.xlsx']

        result = Q1_function()

        self.assertEqual(ans,result)


    def test_Q02_function(self):
        
        ans='Python-QUIZ Lists (10 min.)-grades.xlsx'
        
        result=Q2_function(filenames, s = "Lists")
        
        #Handling removal of the path to check only filename
        self.assertEqual(ans,result.split("/")[-1].split("\\")[-1])
        
    def test_Q03_function(self):

        files = ['Python-QUIZ Taxonomy of Python Data Structures (12 min.)-grades.xlsx', 'Python-QUIZ Functions (18 min.)-grades.xlsx', 'Python-QUIZ Coercion (6 min.)-grades.xlsx', 'Python-QUIZ Strings (5 min.)-grades.xlsx', 'Python-QUIZ Lists (10 min.)-grades.xlsx', 'Python-QUIZ Iterations (6 min.)-grades.xlsx', 'Python-QUIZ Sets (7 min)-grades.xlsx', 'Python-QUIZ Exceptions (10 min.)-grades.xlsx', 'Python-QUIZ Dictionaries (10 min.)-grades.xlsx', 'Python-QUIZ Tuples (10 min.)-grades.xlsx', 'Python-QUIZ Conditionals (6 min.)-grades.xlsx']
        s = 'Functions'
        df_from_function = Q3_function(files, s)

        df_actual = pd.read_excel('/Users/pasumarty/Downloads/Courses_Spring_2019/CSC 591/Project Data Wrangling Resources description, data, code template-20190111/data_raw/Python-QUIZ Functions (18 min.)-grades.xlsx')

        df_from_function.equals(df_actual)   

        
    def test_Q04_function(self):
        
        cols_ans=['State', 'Started on', 'Completed', 'Time taken', 'Grade/45.00', 'Q. 1 /5.00', 'Q. 2 /10.00', 'Q. 3 /6.00', 'Q. 4 /6.00', 'Q. 5 /12.00', 'Q. 6 /6.00',  'id']
        subset_cols_ans= ["id", "Time taken", "Grade/45.00", "Q. 1 /5.00", "Q. 2 /10.00", "Q. 3 /6.00", "Q. 4 /6.00", "Q. 5 /12.00", "Q. 6 /6.00"]
        top_ans=10
        
        cols_result,subset_result,top_result=Q4_function(functions_df)

        self.assertEqual(cols_ans,list(cols_result))
        self.assertEqual(subset_cols_ans,list(subset_result.columns))
        self.assertEqual(top_ans,len(top_result))
    
    def test_Q05_function(self):
        
        col_dtype_ans = ['int64', 'object', 'int64', 'int64', 'int64', 'int64', 'object', 'object', 'object']
        cols_ans = ['id', 'Grade/45.00', 'Q.1/5.00', 'Q.2/10.00', 'Q.3/6.00', 'Q.4/6.00', 'Q.5/12.00', 'Q.6/6.00', 'time']

        column_types_result, Q5_df_result = Q5_function(df_subset)
        
        self.assertEqual(cols_ans,list(Q5_df_result.columns))
        self.assertEqual(col_dtype_ans,column_types_result)
        
    def test_Q06_function(self):
        
        col_dtype_ans = ['float64', 'float64', 'float64']
        q6_df = Q6_function(Q5_df)
        col_expected_dtype = [str(q6_df['Q.4/6.00'].dtype),str(q6_df['Q.5/12.00'].dtype),str(q6_df['Q.6/6.00'].dtype)]
        self.assertListEqual(col_expected_dtype,col_dtype_ans)    
        
    def test_Q07_function(self):
        
        ans=(14.83,2.19,13.46,14.66,16.62,18.5,10.83) 
        result=Q7_function(file="Exceptions")
        self.assertEqual(ans, result)
    
    def test_Q08_function(self):
        
        pass
    
    def test_Q09_function(self):

        list_dimensions_function = Q9_function("Strings")
        files = ['Python-QUIZ Taxonomy of Python Data Structures (12 min.)-grades.xlsx', 'Python-QUIZ Functions (18 min.)-grades.xlsx', 'Python-QUIZ Coercion (6 min.)-grades.xlsx', 'Python-QUIZ Strings (5 min.)-grades.xlsx', 'Python-QUIZ Lists (10 min.)-grades.xlsx', 'Python-QUIZ Iterations (6 min.)-grades.xlsx', 'Python-QUIZ Sets (7 min)-grades.xlsx', 'Python-QUIZ Exceptions (10 min.)-grades.xlsx', 'Python-QUIZ Dictionaries (10 min.)-grades.xlsx', 'Python-QUIZ Tuples (10 min.)-grades.xlsx', 'Python-QUIZ Conditionals (6 min.)-grades.xlsx']
        df_from_function = Q3_function(files, s="Strings")
        list_df_dimensions = [df_from_function.shape[0],df_from_function.shape[1]]

        self.assertEqual(list_dimensions_function, list_df_dimensions)
    
    def test_Q10_function(self):

        zero_scorers, maximum_scorer_count = Q10_function(Q5_df)
        ans = [[9, 10, 13, 17, 18],2]
        number_students_zero_max_scores = [zero_scorers,maximum_scorer_count]
        self.assertListEqual(ans, number_students_zero_max_scores)

        
    def test_Q11_function(self):

        max_scorer_function = Q11_function()[1]
        max_scorer_id = 10
        self.assertEqual(max_scorer_function,max_scorer_id)
    
    def test_Q12_function(self):
        ans=[3, 4, 7, 8, 12, 18]   
        result=Q12_function(Q11_df)
        self.assertEqual(ans, result)
        
    def test_Q13_function(self):
        ans = [[15, 16, 17, 18], [12, 13, 14], [5, 6, 7, 8, 9, 10, 11], [3, 4], [0, 1, 2]]
        temp = Q13_function(Q6_df)
        result = [temp[x] for x in range(len(temp))]
        
        for x in range(len(ans)):
            self.assertEqual(sum(result[x]), sum(ans[x]))

        
unittest.main(argv=[''], verbosity=2, exit=False)

test_Q01_function (__main__.TestNotebook) ... ok
test_Q02_function (__main__.TestNotebook) ... ok
test_Q03_function (__main__.TestNotebook) ... /anaconda3/lib/python3.7/site-packages/defusedxml/ElementTree.py:68: DeprecationWarning: The html argument of XMLParser() is deprecated
  _XMLParser.__init__(self, html, target, encoding)
/anaconda3/lib/python3.7/site-packages/xlrd/xlsx.py:266: PendingDeprecationWarning: This method will be removed in future versions.  Use 'tree.iter()' or 'list(tree.iter())' instead.
  for elem in self.tree.iter() if Element_has_iter else self.tree.getiterator():
/anaconda3/lib/python3.7/site-packages/xlrd/xlsx.py:312: PendingDeprecationWarning: This method will be removed in future versions.  Use 'tree.iter()' or 'list(tree.iter())' instead.
  for elem in self.tree.iter() if Element_has_iter else self.tree.getiterator():
ok
test_Q04_function (__main__.TestNotebook) ... ok
test_Q05_function (__main__.TestNotebook) ... ok
test_Q06_function (__main__.TestNotebook) ... ok
test_Q07_function (__main__.TestNotebook) ... ok
test_Q08_function (__main__.TestNotebook) ... ok
test_Q09_function (__main__.TestNotebook) ... ok
test_Q10_function (__main__.TestNotebook) ... ok
test_Q11_function (__main__.TestNotebook) ... ok
test_Q12_function (__main__.TestNotebook) ... ok
test_Q13_function (__main__.TestNotebook) ... ok

----------------------------------------------------------------------
Ran 13 tests in 0.209s

OK